/* กำหนดให้หน้าจอแสดงผลอยู่ตรงกลางเสมอ */
html, body {
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  background-color: black;
}

canvas {
  display: block;
}

